.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.input__label {
  font: 500 0.875rem "Alef", sans-serif;
  color: var(--letraColor);
}
.input__input {
  height: 30px;
  border: var(--btnPrimary) solid 1px;
  padding: 5px;
  background-color: transparent;
  outline: none;
  border-radius: 7px;
  color: var(--letraColor);
  font: 400 1rem "Alef", sans-serif;
}
